@import "./assets/icomoon/style.css";

.background {
  background: linear-gradient(rgba(150, 150, 150, .25), rgba(150, 150, 150, .25)),
    url("./assets/images/Google-Maps.jpg");
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: cover;
  padding-top: 0.67em;
  padding-bottom: 10em;
  text-align: center;
}

.container {
  background: #e8e8e8;
  border-radius: 25px;
  width: 500px;
  padding: 10px;
  display: inline-block;
  clear: both;
  margin-top: 15px;
}

.container.main {
  padding: 15px 30px 15px 30px;
  width: 460px;
}

a {
  display: inline;
}

.bigger-font .container {
  font-size: large;
}

.container h2 {
  font-size: medium;
}

.bigger-font .container h2 {
  font-size: large;
}
.bigger-font .container h3 {
  font-size: x-large;
}

.bigger-font .container h4 {
  font-size: x-large;
}

.bigger-font .button {
  font-size: large;
}

.page-title {
  margin: 0;
}

.description {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.description form > *{
    margin-bottom: 10px;    
    
}

.center-content {
    width: 100%;
    text-align: center;
}

.mt-1 {
    margin-top: 10px !important;
}

.bigger-font .button {
  font-size: 18px;
}

.button {
  outline: 0;
  color: #ffffff;
  background: #006dff;
  padding: 0.375em 0.75em;
  line-height: 1.5;
  border: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.button.positive {
    background-color: #4ba564;
    color: black !important;
}

.button.positive:focus, .button.positive:active, .button.positive:hover {
    background-color: #35b156 !important;
}

.button.negative:focus, .button.negative:active, .button.negative:hover {
    background-color: #ff6868 !important;
}

.button.negative {
    background-color: #ff8b8b;
    color: black !important;
}

.button:focus {
   box-shadow: 0 0 0 0.2em rgba(0, 109, 255, 0.4);
}

.button[disabled],
.button[aria-disabled="true"] {
   cursor: auto;
   opacity: 0.5;
}

.inline {
    display: inline-block;
    margin-right: 10px;
}

.button:not([disabled]):hover, .button:not([aria-disabled="true"]):hover {
   color: #ffffff;
   background-color: #0062e6;
}

.button.selected, .button.selected:focus, .button.selected:not([disabled]):hover, .button.selected:not([aria-disabled="true"]):hover
.button.selected:not([disabled]):active, .button.selected[data-active="true"]:not([disabled]) ,
.button.selected:not([aria-disabled="true"]):active, .button.selected[data-active="true"]:not([aria-disabled="true"]) {
  color: #173316;
  background: #05fd57;
  box-shadow: 0 0 0 0.2em rgba(9, 255, 0, 0.4);
}

.button:not([disabled]):active, .button[data-active="true"]:not([disabled]) ,
.button:not([aria-disabled="true"]):active, .button[data-active="true"]:not([aria-disabled="true"]) {
   color: #ffffff;
   background-color: #004eb8;
}

.go-back {
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 45px;
    border: 2px solid;
    left: 50px;
}

.go-back h4 {
    font-size: initial;
    display: inline;
}

.font-size-option {
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 50px;
  border: 2px solid;
}

.font-size-option h4 {
  display: inline;
}

.language-option {
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 50px;
  border: 2px solid;
}

.language-option h4 {
  font-size: initial;
  display: inline;
}

.container.map-container {
    height: fit-content;
    width: 700px;
}

.leaflet-container {
    width: 100%;
    height: 300px;
}

.custom-marker {
    color:blue;
    font-weight:bold;
    text-align:center;
    border-radius:50%;
    line-height:30px;
}

.custom-marker.red {
    background:red;
    border:5px solid rgba(255,255,255,0.5);
}

.custom-marker.blue {
    background:blue;
    border:5px solid rgba(255,255,255,0.5);
}

form div[role='alert']:not(:empty) {
  padding: 3px;
  border: 1px dashed rgb(78, 0, 0);
  background-color: rgb(255, 126, 126);
  border-radius: 5px;
  font-weight: 500;
}

.leaflet-control-easyPrint {
  /*visibility: hidden;*/
}

.house-icon {
    width: 25px !important;
    height: 25px !important;
    top: -18px;
    left: -18px;
    padding: 3px;
    background-color: white;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.node-icon {
    width: 110px !important;
    top: -15px;
    left: -50px;
    text-align: center;
    align-content: center;
}

.node-icon * {
    margin: 0;
}

.node-icon h4 {
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    visibility: hidden;
}

.node-icon:hover h4 {
    visibility: visible;
}

.node-icon svg {
    width: 25px !important;
    padding: 3px;
    background-color: white;
    border-radius: 100%;
    fill: #ff3f3f;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

@media (max-width: 1215px) {
    .font-size-option {
        right: 5px;
    }

    .go-back {
        left: 5px;
    }
}

@media (max-width: 1100px) {

    .background {
        padding-top: 90px;
    }
}


@media (max-width: 780px) {
    .container {
        width: calc(100% - 30px);
    }

    .container.main {
        width: calc(100% - 70px);
    }
}

@media print {
    body * {
        display: none !important;
    }

    .background {
        padding: 0;
        background: none;
    }

    .container {
        background: none;
        padding: 0;
    }

    #map-container, #map-container *, .container, #root, .background, #directions, #directions * {
        display: block !important;
    }
}